{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Tela principal</h1>
    <a class="link" href="{% url 'index' %}">Home</a>
    <a class="link" href="{% url 'produto:list_produto' %}">Produtos</a>
    <a class="link" href="{% url 'entrada:list_entrada' %}">Entradas</a>
    <br>
    {% block content %}{% endblock %}
</body>
</html>